/*
Arc-Dark Color Scheme
*/

@define-color highlight #e30b9b;
@define-color base1  #202330;
@define-color base2  #20233;
@define-color base3  #293040;

*{
    font-family: JetBrainsMono;
    height: fit-content;
}

#window {
    border: 1px solid @highlight;
    margin: 0px 5px 0px 5px;
    background-color: #222;
}

#inner-box {
    background-color: @base2;
}

#outer-box {
    margin: 5px;
    padding:10px;
    background-color: @base2;
    margin-top: -22px;
}

#text {
    padding: 5px;
    color: white;
}

#entry:nth-child(even) {
    background-color: @base1;
}

#entry {
    background-color: @base3;
}

#entry:selected {
    background-color: @highlight;
}
